main {
    background-color: blue !important;
    width: 200px;
    height: 200px;
}

.container_div {
    background-color: pink;
    width: 100px;
}

#novo_id {
    background-color: yellow;
    width: 100px;
    height: 100px;
}